body {
  background-color: burlywood !important;
}

header {
  background-color: rgb(238, 212, 178) !important;
  width: 100%;
}

.navbar-nav {
  color: black !important;
}

.nav-link {
  font-weight: bold;
  color: black !important;
}

.active {
  text-decoration: underline !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 15px 15px 15px 15px;
}

h2 {
  color: brown;
  font-size: 45px !important;
  @media all and (max-width: 320px){
    font-size: 40px !important;
  }
  @media all and (min-width: 1024px) and (max-width: 1440px){
    font-size: 25px !important;
  }
  font-weight: bold !important;
}

p {
  padding: 5px;
  @media all and (min-width: 768px){
    padding-left: 20%;
    padding-right: 20%;
  }
}

.rowPrice {
    color: brown;
    font-size: 45px !important;
    @media all and (min-width: 1024px) and (max-width: 1024px){
      font-size: 25px !important;
    }
    font-weight: bold !important;
}

h4 {
  font-weight: bold !important;
  font-size: 40px !important;
}

p {
  margin-bottom: 0% !important;
}

.clickProduct {
  color: white;
  font-size: 40px;
  font-weight: bold;
  background-color: brown;
  width: 80% !important;
  border: brown;
}

img {
  width: 150px;
  height: 150px;
  margin: auto;
  @media all and (min-width: 768px){
    width: 200px;
    height: 200px;
    margin: auto;
  }
  @media all and (min-width: 992px){
    width: 250px;
    height: 250px;
    margin: auto;
  }
  @media all and (min-width: 1200px){
    width: 300px;
    height: 300px;
    margin: auto;
  }
}

.ref {
  text-decoration: underline;
  margin: 5%;
  @media all and (min-width: 768px){
    margin: 3%;
  }
  @media all and (min-width: 1024px){
    margin: 1%;
  }
}

#container {
  background-color: burlywood;
}

.product {
  background-color: white;
  text-align: center;
  padding: 10px;
  @media all and (min-width: 768px){
    padding-left: 20px;
    padding-right: 20px;
  }
}

#nameProduct {
  font-size: 40px !important;
}

#chooseVarnish {
  font-size: 20px;
  color: brown;
  font-weight: bold;
}

#varnish {
  font-size: 15px;
}

#buttonp2 {
  text-align: center;
}

#clickValid {
  font-size: x-large;
  color: white;
  background-color: brown;
  width: 30%;
  margin: 2% 5% 5% 5%;
  padding: 10px;
  text-align: center;
  border: brown;
  @media all and (max-width: 425px){
    width: 80%;
  }
}

h1 {
  font-size: large;
  padding: 5px;
  margin-top: 5px;
  background-color: rgb(238, 212, 178);
}

#basketTitle {
  color: brown;
  background-color: #eed4b2;
  border: none;
  font-weight: bold;
  font-size: 45px !important;
  @media all and (min-width: 1024px) and (max-width: 1024px){
    font-size: 25px !important;
  }
}

#basketNameProduct {
  color: brown;
  @media all and (min-width: 768px) and (max-width: 768px){
    font-size: 15px !important;
  }
  font-weight: bold !important;
}

.finalPrice {
  font-size: 1.5rem;
  @media all and (min-width: 1440px){
    font-size: 2rem;
  }
  font-weight: bold;
}

#finalPriceResult {
  color: brown;
  font-size: 50px;
  @media all and (min-width: 1440px){
    font-size: 2.5rem;
  }
  font-weight: bold;
}

.clearBasket {
  color: white;
  font-weight: bold;
  font-size: 35px;
  border: none;
  background-color: brown;
  margin: 10px;
}

#validate {
  text-align: center;
  background-color: white;
  margin: 5% !important;
  @media all and (min-width: 768px){
  margin: 0 30% 5% 30%!important;
  }
  @media all and (min-width: 1024px){
  margin: 0 35% 5% 35%!important;
  }
  @media all and (min-width: 2560px){
  margin: 0 40% 5% 40%!important;
  }  
}

label {
  font-weight: bold;
}
input {
  border: none;
  background-color: rgb(226, 204, 175);
  text-align: center;
}

#basketButton {
  color: white;
  font-size: x-large;
  background-color: brown;
  margin-top: 15px;
  margin-bottom: 10px;
}

#error {
  color: red;
  background-color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 15px;
}

.command {
  background-color: white !important;
  margin: 30px;
  h1 {
    color: black;
    @media all and (max-width: 320px){
      font-size: 1.5rem !important;
    }
  }
  span {
    font-size: 2rem !important;
    font-weight: bold;
    color: red;
  }
  p {
    font-weight: bold;
  }
}

#returnMainPage {
  color: white;
  font-weight: bold;
  background-color: brown;
  padding: 10px;
}
