img {
    vertical-align: middle;
    width: 200px;
    height: 150px;
    border-style: none; // Remove the border on images inside links in IE 10-.
  }
#icon-header svg{
  width: 50px;
  height: 50px;
  color: rgb(84, 202, 84);
}