body {
  background-color: burlywood !important;
}

header {
  background-color: rgb(238, 212, 178) !important;
}

.navbar-toggler {
  display: flex;
  @media all and (min-width: 768px){
    display: none;
  }
}

#navbarContent {
  text-align: right;
  font-weight: bold;
  display: none;
  @media all and (min-width: 768px){
    display: flex;
  }
}

.navbar-nav {
  color: black !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0 15px 15px 15px;
}
h2 {
  color: brown;
  font-size: 30px;
}

h3 {
  padding: 5px;
  @media all and (min-width: 768px){
    padding-left: 20%;
    padding-right: 20%;
  }
}

.rowPrice {
  font-size: 25px;
  color: brown;
}
.clickProduct {
  color: white;
  background-color: brown;
  width: 30%;
  margin: center;
  border: brown;
  @media all and (max-width: 320px){
    width: 40%;
  }
}
img {
  width: 150px;
  height: 150px;
  margin: auto;
  @media all and (min-width: 768px){
    width: 200px;
    height: 200px;
    margin: auto;
  }
  @media all and (min-width: 992px){
    width: 250px;
    height: 250px;
    margin: auto;
  }
  @media all and (min-width: 1200px){
    width: 300px;
    height: 300px;
    margin: auto;
  }
}

.ref {
  text-decoration: underline;
}

.product {
  text-align: center;
  padding-top: 10px;
}

#buttonp2 {
  text-align: center;
}

#clickValid {
  font-size: x-large;
  color: white;
  background-color: brown;
  width: 30%;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: brown;
  @media all and (max-width: 425px){
    width: 80%;
  }
}

h1 {
  font-size: large;
  padding: 5px;
  margin-top: 5px;
  background-color: rgb(238, 212, 178);
}



#basketTitle {
  background-color: burlywood;
  border: none;
  font-size: 35px;
}

#validez {
  text-align: center;
  background-color: white;
  margin: 5% !important;
  @media all and (min-width: 768px){
  margin: 0 30% 5% 30%!important;
  }
  @media all and (min-width: 1024px){
  margin: 0 35% 5% 35%!important;
  }
  @media all and (min-width: 2560px){
  margin: 0 40% 5% 40%!important;
  }  
}

label {
  font-weight: bold;
}
input {
  border: none;
  background-color: rgb(226, 204, 175);
  text-align: center;
}

#basketButton {
  color: white;
  font-size: x-large;
  background-color: brown;
  margin-top: 15px;
  margin-bottom: 10px;
}

#error {
  color: red;
  background-color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 15px;

}
